html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.homepage {
    // width: 100vw;
    // height: 45vw;
    // background: url('../../public/graphic/pozadí\ \(1200\ x\ 600\ px\).jpg');
    // background-size: auto 60%;
    background-color: antiquewhite;
    padding: 4em;
    // margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .homepage__text-img {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url("../../public/graphic/symbol-big.png");
        background-repeat: no-repeat;
        background-position: 30%;
        background-size: auto 70%;

        .homepage__text-login {
            display: flex;
            flex-direction: column;
            align-items: center;

            .homepage__text {
                display: flex;
                flex-direction: column;
                // text-align: left;
                // width: 40vw;
                h1 {
                    color: rgb(188, 17, 17);
                    font-size: 6em;
                    font-weight: 600;
                    // width: 70%;
                    text-align: center;
                }
            }
        }
        .homepage__img {
            width: 50vw; // Set width for the image
            height: auto; // Maintain aspect ratio
            border-radius: 5em; // Add border radius for rounded corners
            box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1); // Add box shadow for a subtle effect
        }
    }
}

.homepage__login {
    padding: 2em;
}
