html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

footer {
    text-align: center;
    width: 100vw;
    background-color: white;
    padding: 2em 5em;
    margin: 0;
    
}
