.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 2em 5em;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: right;
        padding: 1em;
        gap: 2em;

        a {
            color: black;
            text-decoration: none;
            text-align: center;
            font-size: large;
            padding: 0.5em;

            &:hover {
                scale: 1.2;
                color: rgb(188, 17, 17);
            }

            &.active {
                color: rgb(188, 17, 17);
            }
        }
    }
}
.burger-menu {
    display: none;
}
//----------------------------------------------------------------

@media (max-width: 1000px) {
    .header {
        nav {
            display: none; // Hide the full navigation on smaller screens
            flex-direction: column;
            text-align: center;

            a {
                padding: 0.5em 1em;
            }
        }

        .burger-menu {
            display: block;
            width: 30px;
            height: 4px;
            background-color: black;
            cursor: pointer;
            .div {
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                 
            }
        }
    }
}
