header {
    display: flex;
    margin: 2em;
    width: 100vw;


    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: right;
        padding: 2em;
        

        a{
            color: black;
            text-decoration: none;
            text-align: center;
            font-size: large;
        }
    }

}
