header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 2em 5em;



    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: right;
        padding: 2em;
        gap: 3em;
        

        a{
            color: black;
            text-decoration: none;
            text-align: center;
            font-size: large;
            &:hover{
                scale: 1.2;
                color: rgb(188, 17, 17);
                font-weight: 600;
            }
        }
    }

}
